[defaults]
inventory = ansible/inventory/hosts.yml
roles_path = ansible/roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
stdout_callback = default
callback_result_format = yaml
callbacks_enabled = profile_tasks

[privilege_escalation]
become = false
